<% if notice.present? %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<h1>Transações</h1>
<%= link_to 'Nova Transação', new_transaction_path, class: 'btn btn-primary mb-3' %>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Valor</th>
      <th>Categoria</th>
      <th>Data da Transação</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= transaction.category.name %></td>
        <td><%= l(transaction.transaction_date, format: :long) %></td>
        <td><%= transaction.description %></td>
        <td>
          <%= link_to 'Ver', transaction, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Editar', edit_transaction_path(transaction), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Excluir', transaction, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
