<!-- app/views/layouts/auth.html.erb -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'signup', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
